In [1]:
from SPARQLWrapper import SPARQLWrapper, SPARQLWrapper2, JSON, TURTLE, XML, RDFXML
import pandas as pd
import string

import matplotlib.pyplot as plt

In [2]:
import pprint
import csv
import ast
import re

from collections import Counter
from operator import itemgetter

import sqlite3 as sql
import time

from importlib import reload
from shutil import copyfile

In [3]:
#definition de la bdd
db = 'data/memoire.db'

In [9]:
#connexion à la bdd, crée la bdd si elle n'existe pas encore
cn=sql.connect(db)

In [5]:
#suppression de table dans la BDD
#cursor = cn.cursor()
#delete_table = """DROP TABLE nom_de_la_table"""
#cursor.execute(delete_table)

In [27]:
#Autoriser les foreign keys
#cn.execute('PRAGMA foreign_keys = 1')

## lecture du fichier CSV

In [6]:
file= 'Sil_2012.csv'
sil_list = []
with open(file, newline='') as csvfile:
    read = csv.reader(csvfile, delimiter=';', quotechar='"')
    for row in read:
        sil_list.append(row)
sil_list[0]
#sil_list[0][2]

['N°_dépôt',
 'N°_caisse',
 'Localité',
 'Année',
 'N°_cantonal',
 'Lieu-dit',
 'N°_terrain',
 'Récolement_LM_2021',
 'Matière',
 'Caractéristique',
 "Description_de_l'objet",
 'Ramassage_surface',
 'Déblais',
 'N°_couche',
 'Situation',
 'Altitude',
 'Loc_Nord',
 'Loc_Sud',
 'N°_structure',
 'N°_décapage',
 'UF',
 'Date_découverte',
 'Période_culturelle',
 'Datation',
 'Année_de_restauration',
 'Etat_de_conservation',
 'N°_Photos_DE',
 'Fiche_ITMS_oui',
 'Fiche_ITMS_non',
 'Publication',
 'Dessin_(+_échelle)',
 'Inventorier_le,_par_Nom_/_date',
 'Envoi_MR',
 'Remarque_restauration',
 'Retour_MR',
 'Remarque']

## Création d'un tableau Pandas

In [7]:
#crée une liste des noms des colonnes pour éviter qu'il y ait des parenthèses dans notre base de données
colonnes=[]
for i in sil_list[0]:
    colonnes.append(i)
colonnes[1:5]

['N°_caisse', 'Localité', 'Année', 'N°_cantonal']

In [8]:
#df_sil_list = pd.DataFrame(sil_list[1:], columns=['Dépot','N° caisse','commune1','Commune', 'Année de fouille','N° cantonal', 'Lieu-dit','N° de terrain','récolement LM 2021','Matière','Caracteristique','typologie','nombre','notes','ramassage','Déblais','Couche','Situation','Altitude','Metres N','Metres S','N° structure','Décapage','UF','Date de découverte','Période culturelle','Datation','année restauration','état de conservation','N° photos','A','ficheITMS oui','Fiche ITMS non','Publication','Dessin','inventorié','Restauration','retour restauration','remarques'])
df_sil_list = pd.DataFrame(sil_list[1:], columns=colonnes)
#sil_infos = df_sil_list[['Dépot','N° caisse','Commune', 'Année de fouille','N° cantonal', 'Lieu-dit','N° de terrain','Matière','Caracteristique','typologie','UF']]
sil_infos = df_sil_list[sil_list[0][0:7]+sil_list[0][8:11]+sil_list[0][15:16]+sil_list[0][20:21]+sil_list[0][22:23]+sil_list[0][24:26]+sil_list[0][28:29]+sil_list[0][33:34]]
print(len(sil_infos))
sil_infos

878

,N°_dépôt,N°_caisse,Localité,Année,N°_cantonal,Lieu-dit,N°_terrain,Matière,Caractéristique,Description_de_l'objet,Altitude,UF,Période_culturelle,Année_de_restauration,Etat_de_conservation,Fiche_ITMS_non,Remarque_restauration
0,Spira,33,CHE,2012,7821,BR,1397,lit,sil,1 éclat,,A3,,,,,
1,Spira,33,CHE,2012,7822,BR,1398,lit,sil,1 éclat,,A3,,,,,
2,Spira,33,CHE,2012,7823,BR,1400,lit,sil,1 éclat (grand),,A3,,,,,
3,Spira,33,CHE,2012,7824,BR,1404,lit,sil,1 éclat (grand),,A3,,,,,
4,Spira,33,CHE,2012,7825,BR,1405,lit,sil,1 éclat,,A3,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,Spira,6,CHE,2013,1912,BR,9,lit,silex,éclat,,A11,,,,,
874,Spira,6,CHE,2013,1913,BR,2,lit,silex,lame corticale,,F26,,,,,
875,Spira,6,CHE,2013,1914,BR,3,lit,silex,éclat cortical,,A11,,,,,
876,Spira,6,CHE,2013,2236,BR,1,lit,silex,éclat petit,,F25,,,,,
877,,,CHE,2013,M,BR,6,lit,silex,1 tout petit petit éclat,,A11,,,,,

## insertion dans la BDD

In [9]:
#sil_infos.to_sql(name='base', con=cn, if_exists='replace')

In [19]:
#cn.execute("""ALTER TABLE base ADD CONSTRAINT PK_numcant PRIMARY KEY (N°_cantonal)""")

OperationalError: near "CONSTRAINT": syntax error

## Recherche dans la BDD

In [27]:
### Définir la ligne de la base de données à utiliser (inspécter préalablement la base de données)
N_cant = 7923

# connnexion à la base de données
conn = sql.connect(db)

### exécuter la requëte sur la base de donées SQLite pour récupérer les valeurs que contient la ligne
c = conn.cursor()
c.execute("SELECT * FROM base WHERE N°_cantonal= ?", [N_cant]) ### a list around argument is needed for a string longer then one
#c.execute('SELECT * FROM query WHERE pk_query = 10')

rc = c.fetchone()

# fermer la connexion
conn.close()

# imprimer et inspecter le résultat
rc

(102,
 'Spira',
 '33',
 'CHE',
 '2012',
 '7923',
 'BR',
 '979',
 'lit',
 'sil',
 'galet éclaté',
 '',
 'B7',
 '',
 '',
 '',
 '',
 '')

## transformer les coordonnées type "lettre-chiffre" en coordonées numériques

In [28]:
### Récupérer les coordoonées du site pour les objets qui en disposent

cn = sql.connect(db)

### exécuter la requëte sur la base de donées SQLite pour récupérer les valeurs que contient la ligne
c = cn.cursor()
c.execute("""
SELECT N°_cantonal, UF FROM base 
WHERE UF IS NOT NULL;
""")
rc = c.fetchall()

# fermer la connexion
cn.close()

In [29]:
rc[112:117]

[('7933', 'B8'),
 ('7934', 'B8'),
 ('7935', 'B8'),
 ('7936', 'B8'),
 ('7937', 'B8')]

In [30]:
#lister l'alphabet en lettres majuscules
alphabet=list(string.ascii_uppercase)

In [24]:
#Ajouter un élément par ligne dans rc
#a=rc
#b=list(a[0])
#b.append(3)
#a[0]=tuple(b)
#a[:3]

[('7821', 'A3', 3), ('7822', 'A3'), ('7823', 'A3')]

In [31]:
#questionner le premier digit de l'UF (la lettre)
c=rc[0][1]
c

'A3'

In [32]:
lis=[]
a=rc
for i in rc:
    d=i[1]
    if d :
        if d[0] in alphabet:
            e=alphabet.index(d[0])
            f=list(i)
            f.append(e)
            a=tuple(f)
            lis.append(a)
    else:
        print(d)
lis[:5]

[('7821', 'A3', 0),
 ('7822', 'A3', 0),
 ('7823', 'A3', 0),
 ('7824', 'A3', 0),
 ('7825', 'A3', 0)]

In [33]:
# sortir les chiffres des coordonnées
a=rc
b=list(a[25])

pat = "[0-9]+$"              #expression régulière à utilise
strin = b[1]            #chaîne à manipuler
prog = re.compile(pat)      #création de l'objet d'analyse
result = prog.search(strin)    #extration de la chaîne à l'aide de l'expression régulière
print(result.group())

7

In [34]:
#Faire une liste avec le chiffre de la 2èeme coordoné séparé
a=lis
truc=[]
for i in lis:
    b= i
#print(b[1])
    pat = "[0-9]+$"              #expression régulière à utilise
    stri = b[1]            #chaîne à manipuler
    prog = re.compile(pat)      #création de l'objet d'analyse
    result = prog.search(stri)    #extration de la chaîne à l'aide de l'expression régulière
    if result :
        g=result.group()
        f=list(i)
        f.append(g)
        a=tuple(f)
        truc.append(a)
    
truc[:5]

[('7821', 'A3', 0, '3'),
 ('7822', 'A3', 0, '3'),
 ('7823', 'A3', 0, '3'),
 ('7824', 'A3', 0, '3'),
 ('7825', 'A3', 0, '3')]

In [35]:
#Affichage joli
silcoord = pd.DataFrame(truc)
silcoord.head()

      0   1  2  3
0  7821  A3  0  3
1  7822  A3  0  3
2  7823  A3  0  3
3  7824  A3  0  3
4  7825  A3  0  3

In [ ]:
#ajout de colonnes à la base de données
#vu sur https://moonbooks.org/Articles/Ajouter-une-colonne-%C3%A0-une-table-existante-avec-sqlite-et-python/

cn = sql.connect(db)
c = cn.cursor()
c.execute('ALTER TABLE base ADD COLUMN Coord_X INTEGER')
#c.execute('ALTER TABLE base ADD COLUMN Coord_Y INTEGER')
cn.close()

OperationalError: database is locked

In [37]:
#enlève la dernière ligne de la liste car elle pose problème pour l'insertion dans la BDD. Les données de cette lignes seront modifiées manuellement
del truc[-1]

In [38]:
#Faire une boucle pour attribuer ces valeurs aux silex appropriées
# connnexion à la base de données
conn = sql.connect(db)
c = conn.cursor()

#Boucle dans notre liste
for i in truc:
    idsilex=str(i[0])
    x=str(i[2])
    y=str(i[3])
    #print(idsilex,x,y)
    tex=("UPDATE base SET Coord_X ="+x+" WHERE N°_cantonal ="+idsilex)
    tey=("UPDATE base SET Coord_Y ="+y+" WHERE N°_cantonal ="+idsilex)
    c.execute(tex)
    c.execute(tey)
    #!!!!!!!!mis en commentaire pour éviter que ça réaffecte la base de données!!!!!#     
#conn.commit()

conn.close()

In [40]:
#Créer une seconde table pour l'origine des matière première
# connnexion à la base de données
conn = sql.connect(db)
c = conn.cursor()

#Création nouvelle table type de silex
Type_origine= """
    CREATE TABLE Matiere_premiere (
    Mat_prem INT PRIMARY KEY,
    Lieu_Origine VARCHAR(100),
    Origine_Longitude VARCHAR(100),
    Origine_Latitude VARCHAR(100)
    )
    """
#c.execute(Type_origine)
    #!!!!!!!!mis en commentaire pour éviter que ça réaffecte la base de données!!!!!#     
#conn.commit()

conn.close()

In [41]:
#ajout de la colonne Matière Première faisant référence à la clé primaire de la table créée ci-dessus
#vu sur https://moonbooks.org/Articles/Ajouter-une-colonne-%C3%A0-une-table-existante-avec-sqlite-et-python/

cn = sql.connect(db)
c = cn.cursor()
#c.execute('ALTER TABLE base ADD COLUMN Mat_prem INTEGER REFERENCES Matiere_premiere(Mat_prem)')
cn.close()

In [6]:
#création d'une nouvelle table pour les données de base afin de pouvoir définir le N° cantonal comme PRIMARY KEY
conn = sql.connect(db)
c = conn.cursor()
#c.execute('PRAGMA foreign_keys = OFF') 

#c.execute('''ALTER TABLE base RENAME TO oldbase''')
c.execute("""
            CREATE TABLE Silex (
            idx INT,
            N°_dépot VARCHAR (20),
            N°_caisse INT,
            Localité VARCHAR (20),
            année INT,
            N°_cantonal INT PRIMARY KEY,
            Lieu_dit TEXT,
            N°_terrain INT,
            Matière TEXT,
            Caractéristique TEXT,
            Description_de_l_objet TEXT,
            Altitude INT,
            UF INT,
            Période_culturelle TEXT,
            Année_de_restauration TEXT,
            Etat_de_conservation TEXT,
            Fiche_ITMS_non TEXT,
            Remarque_restauration TEXT,
            Coord_X INT,
            Coord_Y INT,
            Mat_prem INT REFERENCES Matiere_premiere(Mat_prem)
            )
            """)

#c.execute('INSERT INTO silex SELECT * FROM base')
#c.execute('PRAGMA foreign_keys = ON') 

#close out the connection
conn.close()

OperationalError: table Silex already exists

In [5]:
#Selection de tous les éléments de l'ancienne table pour pouvoir les transférer dans la nouvelle
conn = sql.connect(db)
c = conn.cursor()
c.execute('SELECT * FROM base')
rc=c.fetchall()
conn.close
#rc

In [7]:
#transfère de tous les éléments
conn = sql.connect(db)
c = conn.cursor()
Insertquerry="""INSERT or IGNORE INTO Silex (idx,
            N°_dépot,
            N°_caisse,
            Localité,
            année,
            N°_cantonal,
            Lieu_dit,
            N°_terrain,
            Matière,
            Caractéristique,
            Description_de_l_objet,
            Altitude,
            UF,
            Période_culturelle,
            Année_de_restauration,
            Etat_de_conservation,
            Fiche_ITMS_non,
            Remarque_restauration,
            Coord_X,
            Coord_Y,
            Mat_prem) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
            """
for i in rc:
    c.execute(Insertquerry, i)
    
conn.commit()
conn.close()

In [7]:
#Créer une table pour la typologie des armatures
# connnexion à la base de données
conn = sql.connect(db)
c = conn.cursor()

#Création nouvelle table type de silex
Type_origine= """
    CREATE TABLE Armature (
    Num INT,
    Classe TEXT,
    Type TEXT,
    Sous_type TEXT,
    Nomenclature TEXT PRIMARY KEY,
    Illustration TEXT
    )
    """
c.execute(Type_origine)
    #!!!!!!!!mis en commentaire pour éviter que ça réaffecte la base de données!!!!!#     
#conn.commit()

conn.close()

In [24]:
file= 'data\Typologie_armatures.csv'
sil_list = []
with open(file, newline='') as csvfile:
    read = csv.reader(csvfile, delimiter=';', quotechar='"')
    for row in read:
        sil_list.append(row)
sil_list[0]
#sil_list[0][2]

['110',
 'Bitroncatures symétriques à retouches abruptes',
 'Trapèze symétrique',
 '',
 'Trapèze symétrique',
 'C:\\Users\\arman\\OneDrive\\Documents\\GitHub\\memoire\\data\\Images\\Typo_arma_110.png']

In [25]:
#transfère de tous les éléments
conn = sql.connect(db)
c = conn.cursor()
Insertquerry="""INSERT or IGNORE INTO Armature (Num,
            Classe,
            Type,
            Sous_type,
            Nomenclature,
            Illustration) VALUES (?,?,?,?,?,?)
            """
for i in sil_list:
    c.execute(Insertquerry, i)
    
conn.commit()
conn.close()

In [6]:
#Créer une table
# connnexion à la base de données
conn = sql.connect(db)
c = conn.cursor()

New_table= """
    CREATE TABLE Accident (
    Abbrev TEXT Primary KEY,
    Nom TEXT,
    Remarque TEXT
    )
    """
c.execute(New_table)
    #!!!!!!!!mis en commentaire pour éviter que ça réaffecte la base de données!!!!!#     
conn.commit()

conn.close()

In [66]:
file= 'data\Code_retouche.csv'
sil_list = []
with open(file, newline='') as csvfile:
    read = csv.reader(csvfile, delimiter=';', quotechar='"')
    for row in read:
        sil_list.append(row)
sil_list.pop(0)
sil_list[0]
#sil_list[0][2]

['DI', 'Directe']

In [67]:
#transfère de tous les éléments
conn = sql.connect(db)
c = conn.cursor()
Insertquerry="""INSERT or IGNORE INTO Code_retouche (
            Abbreviation,
            Nom_complet
            ) VALUES (?,?)
            """
for i in sil_list:
    c.execute(Insertquerry, i)
    
conn.commit()
conn.close()

In [22]:
#ajout de colonnes à la base de données
#vu sur https://moonbooks.org/Articles/Ajouter-une-colonne-%C3%A0-une-table-existante-avec-sqlite-et-python/

cn = sql.connect(db)
c = cn.cursor()
c.execute('ALTER TABLE Silex ADD COLUMN Ac TEXT REFERENCES Abbrev(Accident)')
cn.close()

In [14]:
#suppression de colonne de la base de données
#vu sur https://moonbooks.org/Articles/Ajouter-une-colonne-%C3%A0-une-table-existante-avec-sqlite-et-python/

cn = sql.connect(db)
c = cn.cursor()
#c.execute('ALTER TABLE Silex DROP COLUMN Ac')
cn.close()

## Renommer une colonne

In [ ]:
cn = sql.connect(db)
c = cn.cursor()

# Insérer les données
c.execute("ALTER TABLE Armature RENAME to Typologie")

# valider l'insertion et fermer la base de données
cn.commit()
cn.close()

In [7]:
cn = sql.connect(db)
c = cn.cursor()

# Insérer les données
c.execute("ALTER TABLE Silex ADD COLUMN Accident TEXT REFERENCES Accident(Abbrev)")

# valider l'insertion et fermer la base de données
cn.commit()

## Mise à jour des données dans la BDD

In [227]:
cn = sql.connect(db)
c = cn.cursor()

# Insérer les données
c.executemany("UPDATE Silex SET Typologie=? WHERE N°_cantonal=?", b)

# valider l'insertion et fermer la base de données
cn.commit()
cn.close()